deploy
docs
graphs
healthcheck
install
internal-docs
openapi
staging
query/automated/generated_csvs
query/automated/print_output.txt
*.csv
!analysis/storage/scaled_and_trimmed.csv
thesis
!*.tex
!*.bib
